.Icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2em;
    width: 2em;

	// &[data-name="pin"] {
	// 	svg {
	// 		@include size(100%);
	// 	}
	// }

	// &[data-name="search"] {
	// 	svg {
	// 		@include size(95%);
	// 	}
	// }

	svg {
		display: inline-block;
		fill: currentColor;
	    width: 100%;
	    height: 100%;
		transition: fill $TRANSITION_SPEED ease;
	}
}
