.App {
	width: 375px;
	// height: 100vh;
	// display: flex;
	// flex-direction: column;
	// align-items: stretch;
}

.App-content {
	position: relative;
	padding-top: $header-height;
	user-select: none;
	// max-height: 100%;
	// overflow: scroll;
}