.Header {
  padding: 0 $PADDING_NORMAL;
  height: $HEADER_HEIGHT;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: $Z_INDEX_TOP;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $TERTIARY;
  color: $WHITE;
  transition: background-color $TRANSITION_SPEED ease;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    background-image: linear-gradient(to bottom, rgba(black, 0.1), transparent);
    border-top: 1px solid rgba($BLACK, 0.1);
    width: 100%;
    left: 0;
    z-index: 100;
    height: 3px;
  }
}

.Header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    align-items: center;
  width: 100%;
}

.Header-title {
  width: 100%;

  h1 {
    font-size: 18px;
    display: inline-block;
  }
}

.Header[data-mode="default"] {
  background-color: $TERTIARY;
  color: $WHITE;

  .Icon {
    color: $WHITE;

    &:hover {
      color: rgba($WHITE, 0.75);
    }
  }
}

.Header[data-mode="search"] {
  background-color: $WHITE;
  color: $DARK_GREY;

  .Icon {
    color: $MEDIUM_GREY;

    &:hover {
      color: $DARK_GREY;
    }
  }
}

.Header[data-mode="select"] {
  background-color: $WHITE;
  color: $TERTIARY;

  .Icon {
    color: $MEDIUM_GREY;

    &:hover {
      color: $DARK_GREY;
    }
  }
}

.Header-mainAction {
  margin-right: $PADDING_NORMAL;

  .Icon {
    @include size(24px);
  }
}

.Header-actions {
  display: flex;
  flex-direction: row;

  .Icon {
    @include size(24px);
  }
  
  button {
    &:not(:last-child) {
      margin-right: $PADDING_NORMAL;
    }
  }
}
