.Dialog {
}

.Dialog-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba($BLACK, 0.25);
  pointer-events: none;
  z-index: 100;
  cursor: alias;
  transition: opacity 0.15s ease;

  .Dialog.is-open & {
    pointer-events: auto;
    opacity: 1;
  }
}

.Dialog-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 80%;
  max-height: 60%;
  background-color: $WHITE;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  z-index: 100;
  display: flex;
  opacity: 0;
  align-items: stretch;
  flex-direction: column;
  border-radius: 2px;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 0.15s ease;

  .Dialog.is-open & {
    opacity: 1;
    pointer-events: auto;
  }
}

.Dialog-title {
  position: relative;
  font-size: 19px;
  padding: 24px 24px 20px 24px;
  flex-shrink: 0;
  color: $BLACK;
  display: flex;
  align-items: center;
  // font-weight: 600;
  line-height: 1;
  justify-content: flex-start;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    background: rgba($BLACK, 0.1);
    width: 100%;
    left: 0;
    z-index: 100;
    height: 1px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s ease;
    
    .Dialog.is-scrolled & {
      opacity: 1;
    }
  }
}

.Dialog-nav {
  cursor: pointer;
  margin-right: $PADDING_NORMAL;
  transform: none;
  overflow: hidden;
  transition: width 0.15s ease, transform 0.1s ease, margin-right 0.1s ease;

  &.is-hidden {
    margin-right: 0;
    transform: scale(0);
    width: 0;
  }
}

.Dialog-content {
  background-color: $WHITE;
  height: 100%;
  overflow: scroll;
}

.Dialog-footnote {
  border-top: 1px solid $LIGHTEST_GREY_4;
}
