.IconButton {
	border: 0;
	background-color: transparent;
	outline: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	cursor: pointer;
	color: currentColor;

	&[disabled] {
		opacity: 0.5;
		pointer-events: none;
	}
}
