.Bookmarks-item {
	padding: $PADDING_NORMAL / 2 $PADDING_NORMAL;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&:not(.Bookmarks-item--newFolder):not(.Bookmarks-item--noFolders) {
		cursor: pointer;
	}

	&--newFolder {
		background-color: $LIGHTEST_GREY_2;
	}

	&:not(.Bookmarks-item--newFolder):not(.Bookmarks-item--noFolders):active {
		background-color: lighten($TERTIARY, 50%);
	}

	.Icon[data-name="folder"],
	.Icon[data-name="new-folder"],
	.Icon[data-name="right-arrow"] {
		color: $MEDIUM_GREY;
		width: 24px;
		height: 24px;
	}

	.Icon[data-name="folder"], .Icon[data-name="new-folder"] {
		flex-shrink: 0;
		margin-right: $PADDING_NORMAL;
	}

	.Icon[data-name="right-arrow"] {
		position: relative;

		&:hover {
			color: $BLACK;
		}

		&:before {
			content: '';
			position: absolute;
			top: -8px;
			bottom: -8px;
			left: -8px;
			right: -8px;
		}
	}

	&:not(.Bookmarks-item--noFolders):hover {
		color: $TERTIARY;

		.Icon[data-name="add"] {
			display: block;
		}
	}
}

.Bookmarks-itemTitle {
	width: 100%;
	font-size: 13px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;

	span {
		color: $LIGHT_GREY;	
		margin-left: $PADDING_NORMAL / 2;
	}
}

.Bookmarks-itemTitleInput {
	border: 0;
	padding: 0;
	font: inherit;
	outline: none;
	background-color: transparent;
	width: 100%;
}
