$white: #ffffff;
$black: #000000;
$purple: #957cff;
$dark-grey: #212121;
$medium-grey: #737373;
$light-grey: #B2B2B2;
$lightest-grey: #E9E9E9;
$lightest-grey-2: #F9F9F9;

$chrome-blue-2: #1155cc;
$chrome-blue: #347DC2;
$chrome-green: #58BA47;
$chrome-red: #E63832;
$chrome-yellow: #FCD209;

$blue: #03A9F4;

$tertiary: $chrome-blue-2;

$header-height: 56px;
$padding-normal: 16px;
$z-index-top: 100;
$subheader-height: 48px;


/////////////////
///

$transitionSpeed: 0.1s;

$tabListItemHeight: (
	default: 60px,
	compact: 48px,
);

$tabListItemFaviconSize: (
	default: 24px,
	compact: 24px, 
);
//18
