$WHITE: #ffffff;
$BLACK: #000000;
$PURPLE: #957cff;
$BLUE: #03A9F4;
$GREY_1: #eaeaea;
$DARK_GREY: #212121;
$MEDIUM_GREY: #737373;
$LIGHT_GREY: #B2B2B2;
$LIGHTEST_GREY: #E9E9E9;
$LIGHTEST_GREY_2: #F9F9F9;

$CHROME_BLUE: #347DC2;
$CHROME_BLUE_2: #1155cc;
$CHROME_GREEN: #58BA47;
$CHROME_RED: #E63832;
$CHROME_YELLOW: #FCD209;

$TERTIARY: $CHROME_BLUE_2;

$HEADER_HEIGHT: 56px;
$SUBHEADER_HEIGHT: 48px;
$PADDING_NORMAL: 16px;
$Z_INDEX_TOP: 100;

$TRANSITION_SPEED: 0.1s;

$TAB_LIST_ICON_TRANSITION_SPEED: 0.2s;

$TAB_LIST_ITEM_HEIGHT: (
	default: 60px,
	compact: 42px,
);

$TAB_LIST_ITEM_FAVICON_SIZE: (
	default: 20px,
	compact: 20px, 
);

$WINDOWS_WIDTH: 75px;
