.ListItem {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
	padding: 0 $PADDING_NORMAL;
	font-size: 14px;

	&:hover {
		background-color: $LIGHTEST_GREY_2;
	}

	&[data-disabled="true"] {
		opacity: 0.5;
		cursor: default;
		pointer-events: none;
	}
}

.ListItem-icon {
	margin-right: $PADDING_NORMAL;

	.Icon {
		color: $MEDIUM_GREY;
		@include size(1.5em);
	}
}

.ListItem-content {
	padding: ($PADDING_NORMAL * 0.75)  0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	font-size: 13px;
}

.ListItem-actions {
	.Icon {
		color: $MEDIUM_GREY;
		width: 24px;
		height: 24px;

		&:hover {
			color: $BLACK;
		}
	}
}

.ListItem-contentAside {
	color: $MEDIUM_GREY;
	margin-left: $PADDING_NORMAL;
}