@import 'assets/styles/_variables.scss';
@import 'assets/styles/_fonts.scss';
@import 'assets/styles/_reset.scss';
@import 'assets/styles/_mixins.scss';

html, body {
	height: 100%;
}

* {
	user-select: none;
}

body {
	background-color: $WHITE;
	color: $BLACK;
	font-family: "Roboto";
	font-size: 100%;
	overflow: auto;
	-webkit-font-smoothing: antialiased;
}

.TextInput {
	border: 0;
	background-color: transparent;
	padding: 0;
	line-height: normal;
	width: 100%;
	display: inline-block;
	font-size: 18px;
	font-family: inherit;
	color: currentColor;

	&::-webkit-input-placeholder {
		font: inherit;
		color: currentColor;
		opacity: 0.7;
	}
}

@import 'components/App/style.scss';
@import 'components/Header/style.scss';
@import 'components/Icon/style.scss';
@import 'components/IconButton/style.scss';
@import 'components/SectionTitle/style.scss';
@import 'components/BottomSheet/style.scss';

@import 'components/Tabs/style.scss';
@import 'components/TabsItem/style.scss';

@import 'components/Windows/style.scss';
@import 'components/WindowsItem/style.scss';

@import 'components/Bookmarks/style.scss';
@import 'components/BookmarksItem/style.scss';
