@import 'assets/styles/_variables.scss';
@import 'assets/styles/_fonts.scss';
@import 'assets/styles/_reset.scss';
@import 'assets/styles/_mixins.scss';

html, body {
	height: 100%;
}

* {
	user-select: none;
}

body {
	background-color: $WHITE;
	color: $BLACK;
	font-family: "Roboto";
	font-size: 100%;
	overflow: auto;
	-webkit-font-smoothing: antialiased;
}

@import 'components/App/style.scss';
@import 'components/Header/style.scss';
@import 'components/Windows/style.scss';
@import 'components/Bookmarks/style.scss';
@import 'components/Tabs/style.scss';

@import 'components/shared/Icon/style.scss';
@import 'components/shared/IconButton/style.scss';

@import 'components/shared/Input/style.scss';

@import 'components/shared/SectionTitle/style.scss';

@import 'components/shared/BottomSheet/style.scss';
@import 'components/shared/Dialog/style.scss';

@import 'components/shared/List/style.scss';
@import 'components/shared/List/ListItem/style.scss';
@import 'components/shared/TwoLineList/style.scss';
@import 'components/shared/TwoLineList/TwoLineListItem/style.scss';



