.Bookmarks-items {
	.Bookmarks-item > & {
		margin-left: $padding-normal / 2;
	}
}

.Bookmarks-item {
	cursor: pointer;
}

.Bookmarks-itemInner {
	padding: $padding-normal / 2 $padding-normal;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	.icon[data-name="folder"], .icon[data-name="new-folder"] {
		flex-shrink: 0;
		margin-right: $padding-normal;
		color: $medium-grey;
	}

	.icon[data-name="add"] {
		flex-shrink: 0;
		margin-left: $padding-normal;
		color: $medium-grey;
		display: none;
	}

	&:hover {
		// background-color: $lightest-grey-2;
		color: $tertiary;

		.icon[data-name="add"] {
			display: block;
		}
	}

	&--newFolder {
		padding-left: $padding-normal * 1.5;
	}
}

.Bookmarks-itemTitle {
	width: 100%;
	font-size: 13px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;

	span {
		color: $light-grey;	
		margin-left: $padding-normal / 2;
	}
}

.Bookmarks-itemTitleInput {
	border: 0;
	padding: 0;
	font: inherit;
	outline: none;
	background-color: transparent;
	width: 100%;
}

.Bookmarks-cancelNewBookmark {
    color: $medium-grey;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 2px;
    background: $lightest-grey;
    padding: 3px 5px;
}
