.Icon {
  display: flex;
  justify-content: center;
  align-items: center;
    @include size(2em);

  &--aligned {
    &[data-name="add"] {
      margin: -0.25em;
    }
  }

  &[data-name="pin"] {
    svg {
      @include size(90%);
    }
  }

  svg {
    display: block;
    fill: currentColor;
    @include size(100%);
    transition: fill $TRANSITION_SPEED ease;
  }

  img {
    @include size(100%);
    object-fit: contain;
  }
}
